<h1>Web Spider</h1>

  <%= form_tag("/spider/search") do %>
    <div class="form-group">
    <%= select_tag :url, options_from_collection_for_select(@websites, "id", "url"), class: "form-control" %>
    </div>
    <%= submit_tag("Search", class: "btn btn-primary") %>
  <% end %>
<br/>

<%= form_tag("/spider/list") do %>
  <div class="form-group">
    <%= select_tag :url, options_from_collection_for_select(@websites, "id", "url"), class: "form-control" %>
  </div>
  <%= submit_tag("Afficher l'historique", class: "btn btn-primary") %>
<% end %>