<div class="container">
        <h1>Your websites</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Url</th>
                <th scope="col" class="text-center">Scoring</th>
                <th scope="col" class="text-center">Spider</th>
                <th scope="col" class="text-center">W3C</th>
            </tr>
            </thead>
            <tbody>
            <% @websites.each do |website| %>
                <tr>
                    <td><a href="<%= website.url %>"><%= website.url %></a></td>
                    <td class="text-center"><% if website.validate_page_speed != nil %><%= raw website.validate_page_speed ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' %><% else %>-<% end %></td>
                    <td class="text-center"><% if website.validate_spider != nil %><%= raw website.validate_spider ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' %><% else %>-<% end %></td>
                    <td class="text-center"><% if website.validate_spider != nil %><%= raw website.validate_spider ? '<i class="fas fa-check green"></i>' : '<i class="fas fa-times red"></i>' %><% else %>-<% end %></td>
                </tr>
            <% end %>
            </tbody>
        </table>

        <h4 class="mt-5">Add a website</h4>
        <form action="add-website" name="addWebsite">
            <div class="form-group">
                <input type="text" class="form-control"  placeholder="Entrer une adresse" name="url">
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
        <hr>
        <h4 class="mt-5">List website</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Url</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% @websites.each do |website| %>
                <tr>
                    <td><a href="<%= website.url %>"><%= website.url %></a></td>
                    <td class="text-right"><a class="btn btn-danger text-white" href="/removeWebsite/<%= website.id %>">Remove</a></td>
                </tr>
            <% end %>
            </tbody>
        </table>
</div>
