<!DOCTYPE html>
<html>
<head>
  <title>CrawlerRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
</head>

<body>
<div class="container">
  <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>

  <%= yield %>
  <h3>H1</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Actuellement</th>
      <th scope="col">Précédemment</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><p><%= @h1_error %></p></td>
      <td>
        <% @metaResults.each do |meta| %>
          <% if meta.h1 == 1 %>
            <p>Il y avait déjà un h1</p>
          <% else %>
            <p>Il n'y avait pas de h1</p>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if @h1_error == "Il y a bien un seul h1 sur cette page." %>
          <i class="fas fa-check green"></i>
        <% else %>
          <i class="fas fa-times red"></i>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>


  <h3>W3C</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Actuellement</th>
      <th scope="col">Précédemment</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><p>Nombre d'erreurs W3C</p></td>
      <td><p><%= @w3c_result %></p></td>
      <td>
        <% @w3c_results.each do |w3c| %>
          <%= w3c.fault %>

      </td>
      <td>
          <% if @w3c_result < w3c.fault %>
            <i class="fas fa-check green"></i>
          <% else %>
            <i class="fas fa-times red"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>


<h3>Meta Data</h3>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Metadata</th>
    <th scope="col">Actuellement</th>
    <th scope="col">Précédemment</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><p>Title</p></td>
    <td>
      <% if @meta_title[0] %>
        <p>Il y a bien un titre:<br>"<%= @meta_title[0] %>"</p>
      <% else %>
        <p>Pas de Titre</p>
      <% end %>
    </td>
    <td>
      <% @metaResults.each do |meta| %>
        <% if meta.title == 1 %>
          <p>Il y avait déjà un titre</p>
        <% else %>
          <p>Il n'y avait pas de titre</p>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if @meta_title[0] %>
        <i class="fas fa-check green"></i>
      <% else %>
        <i class="fas fa-times red"></i>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><p>Charset</p></td>
    <td>
      <% if @meta_content[0] %>
        <p>Il y a bien un charset:<br>"<%= @meta_content[0] %>"</p>
      <% else %>
        <p>Pas de charset</p>
      <% end %>
    </td>
    <td>
      <% @metaResults.each do |meta| %>
        <% if meta.charset == 1 %>
          <p>Il y avait déjà un charset</p>
        <% else %>
          <p>Il n'y avait pas de charset</p>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if @meta_content[0] %>
        <i class="fas fa-check green"></i>
      <% else %>
        <i class="fas fa-times red"></i>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><p>Description</p></td>
    <td>
      <% if @meta_desc[0] %>
        <p>Il y a bien une description:<br>"<%= @meta_description[0] %>"</p>
      <% else %>
        <p>Pas de Descritpion</p>
      <% end %>
    </td>
    <td>
      <% @metaResults.each do |meta| %>
        <% if meta.description == 1 %>
          <p>Il y avait déjà une description</p>
        <% else %>
          <p>Il n'y avait pas de description</p>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if @meta_desc[0] %>
        <i class="fas fa-check green"></i>
      <% else %>
        <i class="fas fa-times red"></i>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><p>Viewport</p></td>
    <td>
      <% if @meta_viewport[0] %>
        <p>Il y a bien un viewport:<br>"<%= @meta_viewport[0] %>"</p>
      <% else %>
        <p>Pas de Viewport</p>
      <% end %>
    </td>
    <td>
      <% @metaResults.each do |meta| %>
        <% if meta.viewport == 1 %>
          <p>Il y avait déjà un viewport</p>
        <% else %>
          <p>Il n'y avait pas de viewport</p>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if @meta_viewport[0] %>
        <i class="fas fa-check green"></i>
      <% else %>
        <i class="fas fa-times red"></i>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

  <h3>Images extensions</h3>
  <p>Vos images doivent avoir comme extension soit .jpg, soit .png, soit .gif.</p>
  <% if @no_image_url == 1 %>
    <p>Toutes les images de cette page ont une bonne extension.</p>
  <% else %>
    <p>Ces images ne respectent pas cette règle: </p>
    <ul>
    <% @all_image_urls.each do |img| %>
        <li><%= img %></li>
    <% end %>
    </ul>
  <% end %>

  <h3>Images Alts</h3>
  <p>Toutes les images doivent avoir un alt.</p>
  <% if @no_image_alt == 1 %>
    <p>Toutes les images de cette page ont un alt.</p>
  <% else %>
    <p>Ces images n'ont pas de alt: </p>
    <ul>
      <% @image_alts.each do |img| %>
        <li><%= img %></li>
      <% end %>
    </ul>
  <% end %>

</div>
</body>
</html>