<div class="container mt-5">
    <h2>Your website : <a href="<%= @stats.first.website.url %>" target="_blank"><%= @stats.first.website.url %></a></h2>
    <div id="stats"></div>
    <table class="table mt-5">
        <thead>
        <tr>
            <th scope="col" class="text-center">Date</th>
            <th scope="col" class="text-center">Scoring</th>
            <th scope="col" class="text-center">Spider</th>
            <th scope="col" class="text-center">W3C</th>
        </tr>
        </thead>
        <tbody>
        <% @stats.each do |stat| %>
            <tr>
                <td class="text-center"><%= stat.date %></td>
                <td class="text-center"><%= stat.scoreW3C %></td>
                <td class="text-center"><%= stat.scoreSpider %></td>
                <td class="text-center"><%= stat.scorePerf %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <script>

    </script>
</div>
