<!DOCTYPE html>
<html>
    <head>
        <title>CrawlerRails</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_pack_tag 'application' %>
    </head>

    <body>
        <%= render 'components/navbar' %>
        <div class="container">
            <%= yield %>
        </div>
        <%= javascript_pack_tag 'application' %>
        <script>
            <% flash.each do |name, msg| %>
                toastr.<%= name %>('<%= msg %>')
            <% end %>
        </script>
    </body>
</html>
